.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;
  transition: left 0.4s ease-in-out;
  z-index: 2000;
  padding: 40px;
  overflow-y: auto;
  box-sizing: border-box;
  color: black;
  padding-top: 100px
}

.overlay.active {
  left: 0;
}

.overlay-content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

/* Media query cho màn hình lớn hơn */
@media (min-width: 768px) {
  .overlay-content {
    flex-direction: row;
  }
}

.menu-column h3 {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-column p {
  margin-bottom: 8px;
  cursor: pointer;
}