<div class="map-controls-container">
  <div class="map-container">
    <div #map class="map-app"></div>
    <button *ngIf="currentView !== MapViewLevel.Khu" (click)="goBack()" class="back-button">
      &larr; Quay lại
    </button>
    <div *ngIf="detailHtml" class="detail-overlay">
      <div class="detail-content" [innerHTML]="detailHtml"></div>
      <button (click)="closeDetailOverlay()" class="close-button">&times;</button>
    </div>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="khu-hang-o">
        <i class="fas fa-search search-icon"></i>
        <div class="directions-icon">
             <i class="fas fa-diamond-turn-right"></i>
        </div>
    </div>
  </div>
</div>
  